#header {
    background-color: aqua;
    color: azure;
    text-align: center;
    padding: 5px;
}
#nav{
    line-height: 30px;
    background-color: aquamarine;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}
#section{
    width: 350px;
    float: left;
    padding: 10px;
}
#footer{
    background-color: aqua;
    color: azure;
    clear: both;
    text-align: center;
    padding: 5px;
}